export GIT_REPO=$(git config --get remote.origin.url|sed -E 's#^.*/(.+)\.git$#\1#g;s#^.*/(.+)$#\1#g;s#\.#-#g;s#_#-#g')
export GIT_BRANCH=$(echo ${GIT_BRANCH:-$(git rev-parse --abbrev-ref HEAD)}|sed -e 's/refs\/heads\///g')
export GIT_TAG=$(git --no-pager tag --points-at HEAD|tail -n 1)
export GIT_COMMIT=$(git rev-parse --short HEAD)
export GIT_BRANCH_PREFIX=$(echo "$GIT_BRANCH" | sed -E '/^([a-z]+)\/?.*/!d;s/^([a-z]+)\/?.*/\1/g')
export GIT_BRANCH_DASH=$(echo "$GIT_BRANCH" |sed -e 's/\//-/g' -e 's/\./-/g' -e 's/_/-/g' | tr '[:upper:]' '[:lower:]' | cut -c "1-18")